body, div, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt, blockquote, fieldset, legend, label, input, textarea
  margin: 0
  padding: 0
  border: 0

html, body
  background-color: #e15727
  color: #000
  font-family: Arial, Helvetica, Sans-Serif
  font-size: 15px

#player
  padding: 15px 25px
  h1
    color: #fff
    text-transform: uppercase
    font-size: 15px
    margin-bottom: 10px
  .status
    line-height: 17px
    &.status-time
      font-size: 12px
    &.status-title
      font-weight: bold
    &.status-cover
      img
        width: 75px
        height: 75px
        float: right
        margin-top: -50px
  a.control
    text-decoration: none
    position: absolute
    display: block
    width: 24px
    height: 24px
    &:hover
      text-decoration: none
    &.maximize
      top: 13px
      right: 40px
      background-image: url(maximize-off.png)
      &:hover
        background-image: url(maximize-on.png)
    &.mute
      top: 13px
      right: 10px
      background-image: url(switch-off.png)
      &.on
        background-image: url(switch-on.png)