@font-face
  font-family: 'chunkfive_exregular'
  src: url('/assets/chunkfive-webfont.eot')
  src: url('/assets/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/chunkfive-webfont.woff') format('woff'), url('/assets/chunkfive-webfont.ttf') format('truetype'), url('/assets/chunkfive-webfont.svg#chunkfive_exregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'nillandbold'
  src: url('/assets/nilland-bold-webfont.eot')
  src: url('/assets/nilland-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/nilland-bold-webfont.woff') format('woff'), url('/assets/nilland-bold-webfont.ttf') format('truetype'), url('/assets/nilland-bold-webfont.svg#nillandregular') format('svg')
  font-weight: normal
  font-style: normal
  
body
  padding-top: 30px
  text-align: center
  width: 1000px
  margin: 0 auto
  background: url(background.jpg) center 440px no-repeat

header
  position: relative 
  .logo
    position: absolute
    left: 0
  h1
    font-family: 'chunkfive_exregular'
    font-size: 50px
    color: #0a3810
    border-bottom: 1px solid #ddd
    width: 710px
    margin-left: 150px
  h2
    font-family: 'nillandbold'
    font-size: 16px
    text-transform: uppercase
    color: #0a3810
    width: 710px
    margin-top: 15px
    margin-left: 150px

.content
  position: relative
  top: 38px
  margin: 0 auto

a#volume
  position: absolute
  left: 200px
  display: block
  width: 52px
  height: 52px
  background: url(volume-on.png)
  text-decoration: none
  &.muted
    background: url(volume-off.png)

$marquee-width: 400px
$marquee-height: 26px
$hitmusic-background-color: #001d07
$poprock-background-color: #850900
$lounge-background-color: #411252
$legends-background-color: #2a0f0d
.marquee_wrapper
  position: relative
  width: $marquee-width
  height: $marquee-height
  margin: 10px auto 20px auto
  &:before, &:after
    position: absolute
    content: ""
    border: $marquee-height / 2 solid
  &:before
    left: -$marquee-height / 2
    border-left-color: transparent
  &:after
    right: -$marquee-height / 2
    border-right-color: transparent
  &.hitmusic
    background-color: $hitmusic-background-color
    &:before, &:after
      border-top-color: $hitmusic-background-color
      border-bottom-color: $hitmusic-background-color
    &:before
      border-right-color: $hitmusic-background-color
    &:after
      border-left-color: $hitmusic-background-color
  &.poprock
    background-color: $poprock-background-color
    &:before, &:after
      border-top-color: $poprock-background-color
      border-bottom-color: $poprock-background-color
    &:before
      border-right-color: $poprock-background-color
    &:after
      border-left-color: $poprock-background-color
  &.lounge
    background-color: $lounge-background-color
    &:before, &:after
      border-top-color: $lounge-background-color
      border-bottom-color: $lounge-background-color
    &:before
      border-right-color: $lounge-background-color
    &:after
      border-left-color: $lounge-background-color
  &.legends
    background-color: $legends-background-color
    &:before, &:after
      border-top-color: $legends-background-color
      border-bottom-color: $legends-background-color
    &:before
      border-right-color: $legends-background-color
    &:after
      border-left-color: $legends-background-color
  .marquee
    z-index: 1
    position: absolute
    width: $marquee-width
    color: #fff
    line-height: $marquee-height
#song_title
  font-family: 'chunkfive_exregular'
  text-transform: uppercase
#song_artist
  font-family: 'nillandbold'

.cube
  height: 488px
  background: url(shadow.png) center 400px no-repeat

.rs-wrap
  margin: 0 auto
  .song_cover
    z-index: -1
    position: absolute
    top: 55px
    left: 55px
    width: 226px
    height: 226px
  .rs-arrows
    .rs-prev, .rs-next
      position: absolute
      top: 116px
      display: block
      width: 62px
      height: 120px
    .rs-prev
      left: -220px
      background: url(previous.png) no-repeat
      &:hover
        background: url(previous_hover.png) no-repeat
    .rs-next
      right: -220px
      background: url(next.png) no-repeat
      &:hover
        background: url(next_hover.png) no-repeat