body, div, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt, blockquote, fieldset, legend, label, input, textarea
  margin: 0
  padding: 0
  border: 0

html, body
  background-color: #000
  height: 416px
  color: #fff
  font-family: Arial, Helvetica, Sans-Serif

.stations
  text-align: center
  margin-top: 20px

.station
  a
    margin-top: 10px
    font-size: 30px
    display: inline-block
    padding: 10px
    line-height: 40px
    width: 319px
    height: 40px
    border: 1px solid #aaa
    color: #aaa
    text-decoration: none
    &:visited
      color: #aaa
    &:hover
      color: #fff
      border: 1px solid #fff

#player
  position: absolute
  width: 320px
  height: 416px
  background: url(background.jpg) no-repeat scroll
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  .header
    position: absolute
    top: 0
    background: url(header.png) top center no-repeat
    width: 320px
    height: 60px
  .footer
    position: absolute
    bottom: 0
    background: url(footer.png) bottom center no-repeat
    width: 320px
    height: 99px
    a#switch
      display: block
      position: absolute
      bottom: 55px
      left: 10px
      width: 26px
      height: 26px
      text-indent: -1000px
      &.on
        background-image: url(switch-on.png)
      &.off
        background-image: url(switch-off.png)
    .volume-bar
      position: absolute
      bottom: 15px
      width: 320px
      height: 16px
      background-color: transparent
      background-image: url(volume-bar.png)
      background-repeat: no-repeat
  .cover
    position: relative
    top: 80px
    text-align: center
    img
      text-align: center
      width: 200px
      height: 200px
  .status
    position: relative
    top: 75px
    left: 60px
    width: 190px
    height: 15px
    padding: 5px
    background-color: #82734d
    font-size: 13px  
  .dragdealer
    width: 255px
    padding-left: 60px
    .handle
      position: absolute
      cursor: pointer
      margin-top: -7px
      .cursor
        width: 40px
        height: 23px
        background-image: url(volume-cursor.png)
    .disabled
      background: #898989