<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <script src="js/lib/angular.min.js" type="text/javascript"></script>
        <script src="js/app.min.js" type="text/javascript"></script>
        
        <style>
            .loading {
                border:1px solid #F80;
            }            
            .loaded {
                font-weight: bold;
            }
            .muted {
                color: #8E8E8E;
            }
            .error {
                border: 1px solid #F00;
            }
        </style> 
    </head>
    <body>
        <main ng-app="alouatta">
            <alouatta-player src="http://stream.myjungly.fr/RIFFX" autoplay="true" volume="0.1"></alouatta-player>
            <alouatta-player src="http://stream.myjungly.fr/RIFFX" preload="none" type="single-button"></alouatta-player>
            <alouatta-playlist></alouatta-playlist>
        
            <script id="templates/player-default.html" type="text/ng-template">
                <section>
                    <h2>Autoplay, 2 buttons</h2>
                    <button ng-click="vm.play()" ng-disabled="vm.isLoading || vm.isPlaying">play</button>
                    <button ng-click="vm.pause()" ng-disabled="vm.isLoading || !vm.isPlaying">pause</button>
                    <label ng-show="vm.isLoading" class="loading">Loading...</label><br/>
                    <label>Volume: </label><input type="number" min="0" max="1" step="0.1" ng-model="vm.player.volume" />
                    <button ng-click="vm.toggleMute()" ng-class="{ 'muted': vm.player.muted }">mute</button> 
                </section>
            </script>
            
            <script id="templates/player-single-button.html" type="text/ng-template">
                <section>
                    <h2>Single button</h2>
                    <button ng-click="vm.togglePlay()" ng-class="{ 'loading': vm.isLoading, 'loaded': !vm.isLoading, 'error': vm.isError }">
                        play/pause
                    </button>
                </section>
            </script>
        
            <script id="templates/playlist-default.html" type="text/ng-template">
                <section>
                    <h2>playlist</h2>
                    
                    <a href ng-click="vm.previousPage()">Prev.</a>
                    -
                    <a href ng-click="vm.nextPage()">Next</a>
                    
                    <ul>
                        <li ng-repeat="track in vm.tracks">
                            {{track.index}} {{ track.pubdate | date:'shortDate' }} 
                            - <a href ng-click="vm.setTrack(track)">{{ track.title }}</a>
                        </li>
                    </ul>
                    
                    <a href ng-click="vm.previousPage()">Prev.</a>
                    -
                    <a href ng-click="vm.nextPage()">Next</a>                    
                </section>
            </script>
        </main>
    </body>
</html>