$cover-width: 214px

.outer
  display: table
  position: absolute
  height: 100%
  width: 100%

.middle
  vertical-align: middle
  display: table-cell

.container
  background-image: url('/assets/riffx/background.jpg')
  background-position: center
  background-repeat: no-repeat
  text-align: center

img
  @include img-responsive
  margin: auto
  &#song-cover
    width: $cover-width
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5)
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5)

.covers
  margin: 60px 0
  .cover
    position: relative
    width: $cover-width
    margin: auto
    a#btn-play
      position: absolute
      display: block
      width: 100%
      height: 100%
      color: #fff
      background-color: rgba(0, 0, 0, 0.5)
      cursor: pointer
      z-index: 2000
      text-align: center
      padding-top: 60px
      font-size: 5em
    ul.social
      position: absolute
      list-style: none
      right: -15px
      bottom: 10px
      li
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0

.btn-share
  display: block
  width: 30px
  height: 30px
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5)
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5)
  color: #fff
  padding-top: 5px
  &.btn-share-twitter
    background-color: #4a79bc
    
  &.btn-share-facebook
    background-color: #2d4587

.titles
  margin: 40px 0
  #song-title
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue", Arial, Sans-Serif
    text-transform: uppercase
    font-size: 1.6em
  #song-artist
    font-family: "HelveticaNeue", Arial, Sans-Serif
    font-size: 1.2em

header
  .btn-power
    position: absolute
    color: #ddd
    font-size: 35px
    left: 50%
    margin-left: -100px
    &.active
      color: #aaa
.controls
  position: relative
  background-color: #f47003
  height: 50px
  max-width: 345px
  margin: auto
  -webkit-border-radius: 5px
  border-radius: 5px
  text-align: left
  padding: 15px 30px 5px 60px
  line-height: 40px
  .btn-power
    position: absolute
    font-size: 25px
    top: 5px
    left: 20px
    color: #aaa
    &.active
      color: #fff
.volume-bar
  #volume-highlight
    position: absolute
    background: #fff
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5)
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5)
    height: 20px
    top: 15px
    -webkit-border-radius: 10px 0 0 10px
    border-radius: 10px 0 0 10px
  .dragdealer
    position: relative
    height: 20px
    background: #000
    -webkit-border-radius: 10px
    border-radius: 10px
    .handle
      z-index: 1000
      position: absolute
      cursor: pointer
      top: -7px
      width: 34px
      height: 34px
      line-height: 34px
      background: #fff
      border: 1px solid #ddd
      -webkit-border-radius: 17px
      border-radius: 17px

@media (max-width: $screen-sm-min - 1)
  .covers
    margin: 10px 0
    .cover
      width: 0.75 * $cover-width
      a#btn-play
        padding-top: 30px
  img#song-cover
    max-width: 0.75 * $cover-width
  .titles
    margin: 25px 0
    #song-title
      font-size: 1.3em
    #song-artist
      font-size: 1em